<div th:fragment="header">
    <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <script src="/libs/jquery.min.js" rel="script" type="text/javascript"></script>
        <script src="/libs/bootstrap.min.js" rel="script" type="text/javascript"></script>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link href="/libs/bootstrap.min.css" rel="stylesheet">
        <link href="/header.css" rel="stylesheet">
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="/images/favicon.ico" alt="logo da plataforma" width="40px">Virtual Digital Laboratory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tutorial">Tutoriais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/agendamento">Agendamentos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carregar">Carregar projeto</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <form th:action="@{/logout}" method="post" class="p-0 m-0">
                        <a onclick="this.parentNode.submit();" style="cursor: pointer">Sair</a>
                    </form>
                </span>
            </div>
        </div>
    </nav>
    </html>
</div>
