<div th:fragment="header" class="" style="position: relative; z-index: 500; width: max-content;">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="/libs/jquery.min.js" rel="script" type="text/javascript"></script>
        <script src="/libs/bootstrap.min.js" rel="script" type="text/javascript"></script>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link href="/libs/bootstrap.min.css" rel="stylesheet">
        <link href="/header.css" rel="stylesheet">
    </head>
    <div >
        <nav class="navbar navbar-light flex-nowrap">
            <a class="navbar-brand logo" href="/" style="margin-left: 10px">
                <img src="/images/favicon.ico" alt="logo da plataforma">
                Virtual Digital Laboratory
            </a>
            <div class="row menus">
                <a href="/tutorial">Tutorial</a>
            </div>
        </nav>
    </div>
    </html>
</div>