<div th:fragment="header(pagina)" xmlns:sec="http://www.w3.org/1999/xhtml">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="/libs/jquery.min.js" rel="script" type="text/javascript"></script>
        <script src="/libs/bootstrap.min.js" rel="script" type="text/javascript"></script>
        <link rel="icon" type="image/png" href="/images/favicon.ico"/>
        <link href="/libs/bootstrap.min.css" rel="stylesheet">
        <link href="/libs/font-awesome.min.css" rel="stylesheet">
        <link href="/header.css" rel="stylesheet">
        <script src="/libs/sweetalert2.all.min.js" rel="script"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 101">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/images/favicon.ico" alt="logo da plataforma" width="40px">Virtual Digital Laboratory</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:class="${pagina == 'home'? 'nav-link active' : 'nav-link'}" href="/">Início</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${pagina == 'tutorial'? 'nav-link active' : 'nav-link'}" href="/tutorial">Tutoriais</a>
                    </li>
                    <li sec:authorize="hasAnyAuthority('DOCENTE', 'ADMIN')" class="nav-item">
                        <a th:class="${pagina == 'agendamento'? 'nav-link active' : 'nav-link'}" href="/agendamento">Agendamentos</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a th:class="${pagina == 'carregar'? 'nav-link active' : 'nav-link'}" href="/carregar">Carregar projeto</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown dropstart">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item disabled" href="#" ><p id="perfilNome"></p></a></li>
                            <li><a class="dropdown-item" th:href="@{'/usuario/editar'}">Editar</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="dropdown-item" style="margin-bottom: 0px" >
                                    <a onclick="this.parentNode.submit();" style="cursor: pointer">Sair</a>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <script>
            $(document).ready(() => {
                let perfilNome = getCookie('usuario');
                $("#perfilNome").text(perfilNome);
            });

            function getCookie(cName) {
                const name = cName + "=";
                const cDecoded = decodeURIComponent(document.cookie); //to be careful
                const cArr = cDecoded.split('; ');
                let res;
                cArr.forEach(val => {
                    if (val.indexOf(name) === 0) res = val.substring(name.length);
                })
                return res
            }
        </script>
    </html>
</div>

