<html lang="en">
<head>
    <link href="/home.css" rel="stylesheet">
</head>
<div th:replace="~{fragments/header :: header}"></div>

<body>
<div class="foto-fundo">
    <div class="pos-foto d-flex justify-content-center">
        <div class="card-principal w-75 d-flex justify-content-center">
            <form class="w-75 mt-5" th:action="@{/agendamento/agendar}" method="post" th:object="${agendamento}">
                <div class="mb-3">
                    <label for="selectUsuario" class="form-label">Usuário:</label>
                    <select id="selectUsuario" class="form-select" aria-label="Default select example" th:field="*{usuario}">
                        <option value=""></option>
                        <option th:each="u : ${usuarios}" th:text="${u.nome}" th:value="${u.id}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Data e hora</label>
                    <input type="datetime-local" class="form-control" id="exampleInputPassword1" th:field="*{dataAgendada}">
                </div>
                <div class="mb-3">
                    <label for="selectTempoSessao" class="form-label">Tempo de sessão:</label>
                    <select id="selectTempoSessao" class="form-select" aria-label="Default select example" th:field="*{tempoSessao}">
                        <option value="10">10 Minutos</option>
                        <option value="15">15 Minutos</option>
                        <option value="20">20 Minutos</option>
                        <option value="25">25 Minutos</option>
                        <option value="30">30 Minutos</option>
                        <option value="0">Indefinido</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</div>

</html>