<html lang="en">
<head>
    <link href="/home.css" rel="stylesheet">
    <link href="/agendamento.css" rel="stylesheet">
</head>
<div th:replace="~{fragments/header :: header('agendamento')}"></div>


<div class="foto-fundo">
<body>
    <div class="pos-foto d-flex justify-content-center">
        <div class="card-principal w-75 p-5 justify-content-center" style="overflow-y: auto">
            <div class="d-flex justify-content-center">
                <h4 class="mb-3">Agendar horário de uso</h4>
            </div>
            <div id="tabelaUsuarios" style="display: block">
                <div class="d-flex justify-content-between">
                    <h4 class="mb-3 mr-3">Escolha um usuario</h4>
                    <form method="get" id="busca-usuario-form" class="mb-3 d-flex justify-content-center">
                        <input class="form-control" type="text" id="buscaUsuario" placeholder="Filtrar por nome">
                        <button type="submit" class="btn btn-outline-primary" style="margin-left: 10px">Buscar</button>
                    </form>
                </div>

                <table>
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Contato</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${usuariosPage}">
                        <td data-label="Account" th:text="${u.nome}"></td>
                        <td data-label="Due Date" th:text="${u.contato}"></td>
                        <td data-label="Amount" th:text="${u.email}"></td>
                        <td data-label="Period">
                            <button th:onclick="'escolherUsuario(' + ${ u.id } +', this)'" th:value="${u.nome}" class="btn btn-primary">Escolher</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div th:if="${usuariosPage.totalPages > 0}" class="btn-paginacao"
                     style="display: flex; flex-wrap: wrap; width: fit-content;">
                    <a th:each="pageNumber : ${pageNumbers}" th:href="@{/agendamento(size=${usuariosPage.size}, page=${pageNumber})}"
                       th:text="${pageNumber}"
                       th:class="${pageNumber==usuariosPage.number + 1} ? activePage"></a>
                </div>
            </div>

            <form id="formAgendamento" class="w-75 mt-5" th:action="@{/agendamento/agendar}" method="post" th:object="${agendamento}">
                <div id="warning-erros" class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
                    <input type="hidden" id="nomeUsuarioRetorno" th:value="${agendamento.usuario.nome}">
                </div>
                <input type="hidden" id="formCampoUsuario" th:field="*{usuario.id}">
                <div class="mb-3">
                    <label for="selectUsuario" class="form-label">Usuário:</label>
                    <input class="form-control" type="text" id="selectUsuario" disabled>
                    <button onclick="escolherOutroUsuario()" class="btn btn-secondary mt-3" style="height: 35px">Trocar Usuario</button>
                </div>
                <div class="mb-3">
                    <label for="formCampoData" class="form-label">Data e hora</label>
                    <input type="datetime-local" class="form-control" id="formCampoData" th:field="*{dataAgendada}" required>
                </div>
                <div class="mb-3">
                    <label for="selectTempoSessao" class="form-label">Tempo de sessão:</label>
                    <select id="selectTempoSessao" class="form-select" aria-label="Default select example" th:field="*{tempoSessao}" required>
                        <option value="10">10 Minutos</option>
                        <option value="15">15 Minutos</option>
                        <option value="20">20 Minutos</option>
                        <option value="25">25 Minutos</option>
                        <option value="30">30 Minutos</option>
                    </select>
                </div>
                <button id="confirmar-agendamento" type="button" class="btn btn-primary">Agendar</button>
            </form>
        </div>
    </div>
</body>
</div>
<script src="/agendamento.js" rel="script" type="text/javascript"></script>
</html>
