<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feedback - FPGA</title>
    <script src="/libs/jquery.min.js" rel="script" type="text/javascript"></script>
    <script src="/app.js" rel="script" type="text/javascript"></script>
    <script src="/libs/sockjs.min.js" rel="script" type="text/javascript"></script>
    <script src="/libs/stomp.min.js" rel="script" type="text/javascript"></script>
    <script src="/libs/bootstrap.min.js" rel="script" type="text/javascript"></script>
    <script src="/feedback.js" rel="script" type="text/javascript"></script>
    <link rel="icon" type="image/png" href="/images/favicon.ico"/>
    <link href="/libs/bootstrap.min.css" rel="stylesheet">
    <link href="/switchButton.css" rel="stylesheet">
    <style>
        /* This is purely for the demo */
        .videoWindow {
            max-width: 600px;
            margin: 0 auto;
            border: 10px solid cadetblue;
            border-radius: 10px;
        }
        .painel-inputs {
            display: flex;
            flex-wrap: wrap;
            width: fit-content;
            padding: 10px;
            background-color: #174685;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<input type="hidden" id="placaConectada" th:value="${placa}">
<div class="d-flex justify-content-center align-items-center videoWindow mb-2">
    <img th:src="${urlStream}" style="width: 100%">
</div>
<div class="d-flex justify-content-center align-items-center">
    <a th:href="@{/fim-feedback}" target="_blank">
        <button  class="btn btn-danger">Parar Visualização</button>
    </a>
</div>
<div id="main-content" class="container" style="display: flex; justify-content: center">
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <form class="form-inline">-->
<!--                <div class="form-group">-->
<!--                    <label for="connect">Conexão WebSocket:</label>-->
<!--                    <button id="connect" class="btn btn-success" type="submit">Conectar</button>-->
<!--                    <button id="disconnect" class="btn btn-danger" type="submit" disabled="disabled">Desconectar</button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row painel-inputs mt-2" id="painel">
        <div class="justify-content-center align-items-center p-0" th:each="input : ${#numbers.sequence(17, 0)}" style="margin: 4px; width: unset;">
            <label class="switch">
                <input type="checkbox" class="inputButton" th:id="${input}">
                <span class="slider"></span>
            </label>
            <p><small style="font-size: x-small; color: white" th:text="${'SW' + input + ''}"></small></p>
        </div>
    </div>
</div>
</body>
</html>