<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutorial VDLAB</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="conteiner">
    <div class="row">
        <div class="col-3">

            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#criandoProjetoQuartus">
                            Criar projeto no Quartus II
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-10">
            <h3 id="criandoProjetoQuartus">Criando projeto no Quartus II</h3>
            <hr>
            <div class="">

            </div>
        </div>
    </div>
</div>
</body>
</html>